__pycache__/
env
build/
dist/
.ipynb_checkpoints
.env
.venv
.idea
*.egg-info/
.pytest_cache/
logs/
log.log
overal_log
dataset/
log_*.txt
run_*.sh
run_cmd.txt
predictions/
predictions_logger/
training_logger/
training_logger_*/
install.sh
install.log
*_results/
overall_metrics.log